{% from 'macros.html' import peoplebook_profile %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> {{ title }} </title>
  <link rel="stylesheet" href="/static/App.css">
  <link rel="stylesheet" href="/static/index.css">
</head>

<body>
  <div id="root">
    <div class="title">{{ title }}</div>
    <div class="toc">
      {% for profile in profiles %}
        <a href="#{{ profile.username }}" class="toc__person">
          <img src="{{profile.photo}}" class="photo photo--small" />
          <div class="name name--brief">{{ profile.first_name }}</div>
        </a>
      {% endfor %}
    </div>
    <div class="people">
      {% for profile in profiles %}
        {{ peoplebook_profile(profile) }}
      {% endfor %}
    </div>
  </div>
</body>

</html>